<footer class="text-center">
    <a id="toper" href="#" class="button">^</a>
    <a href="https://www.linkedin.com/in/moixllik"><img alt="linkedin" src="https://icongr.am/simple/linkedin.svg?size=24" /></a>
    <a href="https://github.com/moixllik"><img alt="github" src="https://icongr.am/simple/github.svg?size=24" /></a>
    <a href="https://x.com/moixllik"><img alt="twitter" src="https://icongr.am/simple/twitter.svg?size=24" /></a>
    <a href="https://youtube.com/@@moixllik"><img alt="youtube" src="https://icongr.am/simple/youtube.svg?size=24" /></a>
    <a href="https://tiktok.com/@@moixllik"><img alt="tiktok" src="https://icongr.am/simple/tiktok.svg?size=24" /></a>
    <br>&copy; 2023
</footer>