<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="https://unpkg.com/chota@@latest">
<style>
    body {
        font-size: 18px;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    main {
        margin-top: 5em;
    }

    footer {
        font-size: small;
        padding: 2em;
    }

    #toper {
        position: fixed;
        padding: .5em;
        right: 2em;
        bottom: 2em;
    }

    @media (max-width: 769px) {
        nav {
            position: relative !important;
            margin-bottom: 2em;
        }

        main {
            margin-top: auto;
        }
    }
</style>