<nav class="nav bg-dark">
    <div class="nav-left">
        <a href="/" class="brand text-light">Moixllik</a>
        <div class="tabs">
            <a href="/repos/" class="text-light">Proyectos</a>
            <a href="/resources/" class="text-light">Recursos</a>
        </div>
    </div>
    <div class="nav-right">
        <form action="/search/">
            <input type="search" name="q" placeholder="Buscar" class="bg-dark text-light" />
        </form>
        <a href="/user/" class="text-light">Usuario</a>
    </div>
</nav>