<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos - Moixllik</title>
    @include '../html/frameworks'
</head>

<body class="flex">
    <main class="container">
        <header>
            <h1><a href="/resources/">Recursos y Otros</a></h1>
        </header>
        <article>
            <p>En construcción</p>
        </article>
        @include '../html/footer'
    </main>
    @include '../html/nav'
</body>

</html>