<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog sobre Computación, Contabilidad y Arte">
    <title>Moixllik</title>
    @include 'html/frameworks'
</head>

<body class="flex">
    <main class="container">
        <header class="text-center">
            <h1>
                <a href="/">
                    <img alt="logo" src="/file/logo" />
                </a>
            </h1>
            <h2>Computación, Contabilidad y Arte</h2>
        </header>
        <section>
            <h3>Nuevas Publicaciones</h3>
            <dl>
                @for post in posts
                <dt>
                    <a href="/p/@post.uri/">@{post.title?}</a>
                </dt>
                <dd>@{post.desc?}</dd>
                @end
            </dl>
        </section>
        @include 'html/footer'
    </main>
    @include 'html/nav'
</body>

</html>