<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar - Moixllik</title>
    @include 'html/frameworks'
</head>

<body class="flex">
    <main class="container">
        <header>
            <h1><a href="/search/">Búsqueda en Publicaciones</a></h1>
            <form action="/search/">
                <input type="search" name="q" placeholder="Buscar" value="@query" />
            </form>
        </header>
        <article>
            <dl>
                @for post in posts
                <dt>
                    <a href="/p/@post.uri/">@{post.title?}</a>
                </dt>
                <dd>@{post.desc?}</dd>
                @end
            </dl>
        </article>
        @include 'html/footer'
    </main>
    @include 'html/nav'
</body>

</html>