:root {
    /* STYLE */
    --c1: #F2F2F2;
    --c2: #D9D9D9;
    --c3: #8C8C8C;
    --c4: #595959;
    --c5: #0D0D0D;

    /* VIEW */
    --max-width: 769px;
}

html {
    font-family: sans-serif;
    font-size: 18px;
    background-color: var(--c1);
    color: var(--c5);
}

/* FORMS */
input,
button,
a.button {
    font-size: inherit;
    padding: .2em .5em;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 3px;
    color: inherit;
    border: 1px solid var(--c3);
}
input {
    width: 100%;
}

/* NAV */
details.nav {
    margin: .5em;
    font-size: 1.5em;

    & a {
        text-decoration: none;
        padding: .5em;
        color: inherit;

        &:hover,
        &.active {
            background-color: var(--c3);
        }
    }

    &>summary {
        font-family: sans-serif;
        font-size: 1.5em;
        list-style-type: '|||';
        transform: rotate(90deg);
        margin-bottom: 1em;
    }

    &[open].nav>summary {
        list-style-type: 'X';
        transform: rotate(0);
    }

    & nav>* {
        display: block;
    }
}

/* CLASSES */
.container {
    width: 100%;
    box-sizing: border-box;

    &>* {
        margin: auto;
        max-width: var(--max-width);
    }
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}